import(ape)
importFrom(adephylo,"listTips")
importFrom("stats", "rbinom")
importFrom("stats", "as.dist")  
export(convCounts2Abun)
export(calNodeAbun)
export(level2Root)
export(dist2Root)
export(cumAbunofHighAbun)
export(trimBranch)
export(growBranch)
export(switch2Zero)
export(combMetric)
